<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <%= devise_error_messages! %>

  <%= f.input :username, autofocus: true %>
  <%= f.input :email %>
  <%= f.input :password, autocomplete: "off" %>
  <%= f.input :password_confirmation, autocomplete: "off" %>
  <%= f.input :affiliation, collection: User::AFFILIATIONS.invert %>

  <%= f.button :submit, class: "btn btn-primary" %>

<% end %>

<%= render "devise/shared/links" %>
